# Database Configuration
DATABASE_URL=
DB_NAME=dogcourse

# Server Configuration
PORT=5000
HOST=0.0.0.0
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Logging
LOG_LEVEL=info

# Application Configuration
TELEGRAM_ID=fake_telegram_id
USER_NAME=Test User
